.left-side-bar{
    margin-top: 8px;
    background-color: #DEDED5;
    
}

.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Cambia los valores según lo que desees */
    border-radius: 8px; /* Cambia el radio de borde según lo que desees */
    transition: box-shadow 0.3s ease-in-out; /* Agrega una transición suave para el efecto de sombra */
  }

  .link-item {
    text-decoration: none;
    color: inherit;
    transition: color 0.3s ease-in-out;
  }

.link-item:hover{
    text-decoration: none;
    color: inherit;
}